{% extends "layout.twig" %}
{% block content %}
	<div class="container">
		dssd

		<div class="row">
			<div class="col-md--7">sd</div>
			<div class="col-md--7">sd</div>
		</div>

		<div class="row">
			<div class="col-md--2">sd</div>
			<div class="col-md--12">sd</div>
		</div>
	</div>
{% endblock %}
