{% extends "layout.html" %}
{% block content %}
	{% include "__blocks/hero.html" %}
	{% include "__blocks/services.html" %}
	{% include "__blocks/callback.html" %}
	{% include "__blocks/advantages.html" %}
	{% include "__blocks/scopes.html" %}
	{% include "__blocks/brands.html" %}
	{% include "__blocks/callback.html" %}
	{% include "__blocks/works.html" %}
	{% include "__blocks/clients.html" %}
	{% include "__blocks/formspoiler.html" %}
	{% include "__blocks/map.html" %}
	{% include "__blocks/popups.html" %}
{% endblock %}
