<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="{{ base.description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ base.title }}</title>
        <link rel="stylesheet" href="stylesheets/style.css">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:600,400,300&ammp;subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
    </head>
    <body>
        {% include "__blocks/header.html" %}

 		{% block content %}{% endblock %}
        <script src="js/main.js"></script>
    </body>
</html>
