<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Untitled</title>
        <link rel="stylesheet" href="stylesheets/style.css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300&ammp;subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <header class="header">
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md--5">
                            logo
                        </div>
                        <div class="col-md--9">
                            meta
                        </div>
                    </div>
                </div>
            </div>
        </header>

 		{% block content %}{% endblock %}
        <script src="js/main.js"></script>
    </body>
</html>
