<section class="callback">
	<div class="container callback__container">
		<div class="callback__row">
			<div class="callback__col">
				<p class="callback__text">Взаимодействие корпорации и&nbsp;клиента, в&nbsp;рамках сегодняшних воззрений, подсознательно раскручивает фирменный имидж предприятия.</p>
			</div>
			<div class="callback__col callback__col--form">
				<div class="callback-form__wrapper">
					<form class="callback-form" action="#" method="POST">
						<div class="callback-form__row">
							<input type="tel" class="callback-form__control" placeholder="Ваш телефон:" name="cbTel">
						</div>
						<div class="callback-form__row">
							<input type="tel" class="callback-form__control" placeholder="Ваше имя:" name="cbName">
						</div>
						<div class="callback-form__row text-center">
							<button type="submit" class="btn callback-form__btn">Заказать звонок</button>
						</div>
						<div class="callback-form__footer">
							<a href="#policyModal" class="callback-form__policy j-modal">Политика конфедициальности</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section><!-- /callback -->