<footer class="footer">
	<div class="footer-top">
		<div class="container">
			<div class="footer-top__row">
				<div class="footer-top__col footer-top__col--logo">
					<div class="logobox">
                      <img src="images/hunter_logo.png" class="logobox__img" alt="Hunter">  
                      <span class="logobox__text">Разработка Информационной Системы для ООО&nbsp;&laquo;ПС&raquo;</span>
                    </div>
				</div>
				<div class="footer-top__col footer-top__col--text">
					<div class="footer__adress">
						г. Главный, просп. Первый, д. 123 <br>	
						Телефон: 8 800 000-00-00 <br>	
						Мы работаем ежедневно с 10:00 до 19:00
					</div>
				</div>
				<div class="footer-top__col footer-top__col--control">
					<a href="#recallForm" class="btn j-modal" data-target="#recallForm">Позвоните мне</a>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-sm--7">
					<div class="footer__copy">2015, Название организации. Все права защищены</div>
				</div>
				<div class="col-sm--7">
					<ul class="footer-social">
						<li class="footer-social__item"><a href="#"><i class="sprite-icon sprite-icon-google"></i></a></li>
						<li class="footer-social__item"><a href="#"><i class="sprite-icon sprite-icon-tweeter"></i></a></li>
						<li class="footer-social__item"><a href="#"><i class="sprite-icon sprite-icon-facebook"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>