<section class="formspoiler-section">
	<div class="container">
		<div class="formspoiler__row">
			<div class="formspoiler__col">
				<div class="formspoiler__text">Заполните подробную форму и&nbsp;получите дополнительную скидку!</div>
			</div>
			<div class="formspoiler__col formspoiler__col--right">
				<div class="text-center">
					<a href="#" class="btn btn--lg btn--block wow bounce j-modal" data-target="#saleForm">Получить скидку</a>
					<a href="#" class="formspoiler__pseudolink j-modal" data-target="#policyModal">Политика конфедициальности</a>
				</div>
			</div>
		</div>
	</div>
</section>