 <header class="header">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md--5">
                    <div class="logobox">
                      <img src="../images/hunter_logo.png" class="logobox__img" alt="Hunter">  
                      <span class="logobox__text">Разработка Информационной Системы для ООО&nbsp;&laquo;ПС&raquo;</span>
                    </div>
                </div>
                <div class="col-md--9">
                    <div class="header-contacts">
                        <div class="header-contacts__col">
                            <div class="header-phone">
                                <div class="header-phone__label">Горячая линия:</div>
                                <a class="header-phone__tel" href="tel: 88000000000">8 800 000-00-00</a>
                            </div>
                        </div>
                        <div class="header-contacts__col">
                            <a href="#" class="btn header-contacts__btn j-modal">Позвоните мне</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-navline">
                <ul class="header-menu" role="navigation">
                    {% for menu in base.menu %}
                        <li class="header-menu__item">
                            <a href="{{ menu.href }}" class="header-manu__link">{{ menu.caption }}</a>
                        </li> 
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</header>
