 <header class="header">
    <div class="header-top">
        <div class="container">
            <div class="header__row">
                <div class="header__col header__col--logo">
                    <div class="logobox">
                      <img src="images/hunter_logo.png" class="logobox__img" alt="Hunter">  
                      <span class="logobox__text">Разработка Информационной Системы для ООО&nbsp;&laquo;ПС&raquo;</span>
                    </div>
                </div>
                <div class="header__col header__col--tel">
                    <div class="header-phone">
                        <div class="header-phone__label">Горячая линия:</div>
                        <a class="header-phone__tel" href="tel: 88000000000">8 800 000-00-00</a>
                    </div>
                </div>
                <div class="header__col header__col--btn">
                    <a href="#recallForm" data-target="#recallForm" class="btn header__btn j-modal">Позвоните мне</a>
                </div>
                <div class="header__col header__col--toggle">
                   <div class="header__burger">
                       <span></span>
                   </div>
                </div>
            </div>
           
        </div>
    </div>
    <div class="header-navline">
        <div class="container"  id="navigation">
            <ul class="header-menu nav nav-tabs" role="navigation">
                {% for menu in base.menu %}
                    <li class="header-menu__item">
                        <a href="{{ menu.href }}" class="header-menu__link">{{ menu.caption }}</a>
                    </li> 
                {% endfor %}
            </ul>
        </div>
    </div>
</header>
<div class="header__placeholder"></div>
