.sprite-icon-brif {
  background-position: -66px 0px;
  width: 35px;
  height: 35px;
}
.sprite-icon-call {
  background-position: -111px 0px;
  width: 25px;
  height: 25px;
}
.sprite-icon-call2 {
  background-position: 0px -66px;
  width: 35px;
  height: 35px;
}
.sprite-icon-facebook {
  background-position: 0px -111px;
  width: 23px;
  height: 23px;
}
.sprite-icon-google {
  background-position: -111px -35px;
  width: 24px;
  height: 24px;
}
.sprite-icon-ok {
  background-position: 0px 0px;
  width: 56px;
  height: 56px;
}
.sprite-icon-policy {
  background-position: -45px -66px;
  width: 35px;
  height: 35px;
}
.sprite-icon-tweeter {
  background-position: -111px -69px;
  width: 24px;
  height: 24px;
}
.sprite-icon-upload {
  background-position: -33px -111px;
  width: 19px;
  height: 19px;
}
